Hey {{name}}!

Just wanted to notify you that your order has been created successfully.

Your Reference code is {{refcode}}. Remember that your reference code is the unique identifier to your order. 
You can use it to track your Order's progress, communicate with us for additional info and etc.

Copy the reference code and send it to us via email or whatsapp for more communication.

Once the order is completed, you will receive a reminder and you will be able to download the completed Assignment files.

Looking forward to working with you on more projects in the future :)

Studyhelp Admin