{%extends 'base_layout.htm'%}
{%load static%}

{% block title %}
   Checkout &mdash; Studyhelp
{% endblock %}

{%block content%}
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-gem"></span></div>
            <h2>Checkout</h2>
            <p>complete payment first for you to download your order</p>
        </div>
    </section>
{%endblock%}

{%block footer%}
<section id="footer">
    <div class="inner">
        <h2 class="major">Checkout Form</h2>
        <p>Enter your shipping address</p>
        <form method="post" action="/checkout/{{order.reference_code}}/">
            <div class="row gtr-uniform">
                {%csrf_token%}
                <div class="col-6 col-12-xsmall">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value={{user.username}} />
                </div>
                <div class="col-6 col-12-xsmall">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value={{user.email}} />
                </div>
                <div class="col-6 col-12-xsmall">
                    <label for="postal_code">Postal Code</label>
                    <input type="text" name="Postal_code" id="Postal_code"/>
                </div>
                <div class="col-6 col-12-xsmall">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address"/>
                </div>
                <div class="col-12">
                    <label for="subject">Zip</label>
                    <input type="text" name="zip" id="zip"/>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Submit" class="primary" /></li>
                    </ul>
                </div>
            </div>
        </form>
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li> 
            <li><a href="/how_we_work/">How we work</a></li> 
            <li><a href="/revision_policy/">Revision policy</a></li>
            <li><a href="/refund_policy/">Refund policy</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/create_order/">Order</a></li>
            <li><a href="/samples/">Samples</a></li>
            <li>Design: <a href="#">Web Space</a></li>
        </ul>
    </div>
</section>
{%endblock%}