
{%extends 'base_layout.htm'%}
{%load static%}
{% block title %}Study help - Make order{% endblock %}
{%block content%}
    <section id="footer">
        <div class="inner">
            <h2 class="major">Place your order</h2>
            <p></p>
            <form method="post" action="/">
                <div class="fields">
                    {%csrf_token%}
                    {%for field in form%}
                    <div class="field">
                        <label for="{{field.id_for_label}}">{{field.id_for_label}}</label>
                        {{field}}
                    </div>
                    {%endfor%}
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Place order" /></li>
                </ul>
            </form>
            <ul class="contact">
                <li class="icon solid fa-home">
                    Study Help<br />
                    Nairobi, KENYA<br />
                </li>
                <li class="icon solid fa-phone">+2547 77751299</li>
                <li class="icon solid fa-envelope"><a href="#">studyhelpbusiness@gmail.com</a></li>
                <li class="icon brands fa-twitter"><a href="#">twitter.com/studyhelp</a></li>
                <li class="icon brands fa-facebook-f"><a href="#">facebook.com/studyhelp</a></li>
                <li class="icon brands fa-instagram"><a href="#">instagram.com/studyhelp</a></li>
            </ul>
        </div>
    </section>
{%endblock%}
{%block footer%}

<section id="footer">
    <div class="inner">
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>
{%endblock%}
