{%extends 'base_layout.htm'%}
{%load static%}
{% block title %}
    Study help - {% for title in dashboard_title %} {{title.title_description}} {% endfor %}
{% endblock %}
{% block extra_head %}
{% for meta in dashboard_meta %}
<meta name="description" content="{{meta.description}}"/>
<meta name="keywords" content="{{meta.keywords}}"/>
{% endfor %}
{% endblock %}
{%block content%}

{%for number in whatsapp%}
<a href="https://api.whatsapp.com/send?phone={{number.number}}" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
{% endfor %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        {%for brand in brands%}
        <h2>{{brand.text}}</h2>
        {%endfor%}
        {%for header in headers%}
        <p>{{header.text}}<a href="/create_order/" class="special">Order Now</a></p>
        {%endfor%}
    </div>
</section>
<!-- Wrapper -->
        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <div class="content">
                    <h1>My Orders</h1>
                    <h2 class="major">Current orders</h2>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference code</th>
                                    <th>Subject</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not current_orders %}
                                <tr>
                                    <td colspan="5" style="text-align: center;">You do not have any current orders</td>
                                </tr>
                                {% else %}
                                {% for order in current_orders %}
                                <tr>
                                    <td>{{order.date_created}}</td>
                                    <td>{{order.reference_code}}</td>
                                    <td>{{order.get_subject_display}}</td>
                                    <td><a href="/order_description/{{order.reference_code}}/" class="special"></a></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a href="/create_order/" class="special">Create Order</a>
                </div>
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper alt  style2">
            <div class="inner">
                <div class="content">
                    <h2 class="major">Completed orders</h2>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference code</th>
                                    <th>Subject</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not completed_orders %}
                                <tr>
                                    <td colspan="5" style="text-align: center;">You do not have any completed orders</td>
                                </tr>
                                {% else %}
                                {% for order in completed_orders %}
                                <tr>
                                    <td>{{order.date_created}}</td>
                                    <td>{{order.reference_code}}</td>
                                    <td>{{order.get_subject_display}}</td>
                                    <td><a href="/order_description/{{order.reference_code}}/" class="special"></a></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a href="/create_order/" class="special">Create Order</a>
                </div>
            </div>
        </section>
    </section>
{%endblock%}
{%block footer%}
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p></p>
        <form method="post" action="/">
            <div class="fields">
                {%csrf_token%}
                {%for field in form%}
                <div class="field">
                    <label for="{{field.id_for_label}}">{{field.id_for_label}}</label>
                    {{field}}
                </div>
                {%endfor%}
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
        <ul class="contact">
            {%for address in addresses%}
            <li class="icon solid fa-home">
                {{address.p_o_box}}<br />
                {{address.location}}<br />
            </li>
            {%endfor%}

            {%for phone in phone_numbers%}
            <li class="icon solid fa-phone">{{phone.phone}}</li>
            {%endfor%}
            
            {%for gmail in gmail_links %}
            <li class="icon solid fa-envelope"><a href="#">{{gmail.link}}</a></li>
            {%endfor%}

            {%for twitter in twitter_accounts%}
            <li class="icon brands fa-twitter"><a href="https://www.{{twitter.twitter}}">{{twitter.twitter}}</a></li>
            {%endfor%}

            {%for fb in fb_accounts%}
            <li class="icon brands fa-facebook-f"><a href="https://www.{{fb.facebook}}">{{fb.facebook}}</a></li>
            {%endfor%}

            {%for ig in instagram_accounts%}
            <li class="icon brands fa-instagram"><a href="https://www.{{ig.ig}}">{{ig.ig}}</a></li>
            {%endfor%}
            
            {%for number in whatsapp%}
            <li class="icon brands fa-whatsapp">+<a href="https://api.whatsapp.com/send?phone={{number.number}}">{{number.number}}</a></li>
            {%endfor%}
        </ul>
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li> 
            <li><a href="/privacy_policy/">Privacy policy</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/create_order/">Order</a></li>
            <li><a href="/samples/">Samples</a></li>
            <li>Design: <a href="#">Web Space</a></li>
        </ul>
    </div>
</section>
{%endblock%}