
{%extends 'base_layout.htm'%}
{%load static%}

{% block title %}
    Study help - {% for title in index_title %} {{title.title_description}} {% endfor %}
{% endblock %}
{% block extra_head %}
{% for meta in index_meta %}
<meta name="description" content="{{meta.description}}"/>
<meta name="keywords" content="{{meta.keywords}}"/>
{% endfor %}
{% endblock %}
{%block content%}

{%for number in whatsapp%}
<a href="https://api.whatsapp.com/send?phone={{number.number}}" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
{% endfor %}

<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-gem"></span></div>
            {%for brand in brands%}
            <h2>{{brand.text}}</h2>
            {%endfor%}
            {%for header in headers%}
            <p>{{header.text}}<a href="/create_order/" class="special">Order Now</a></p>
            {%endfor%}
        </div>
    </section>
<!-- Wrapper -->
    <section id="wrapper">
        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                {%for assignment in assignments%}
                <div class="content">
                    <h1>Our Services</h1>
                    <h2 class="major">{{assignment.title}}</h2>
                    <p>{{assignment.body}}</p>
                    <a href="/create_order/" class="special">Order Now</a>
                </div>
                {%endfor%}
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper alt  style2">
            <div class="inner">
                {%for proofreading in proofreadings%}
                <div class="content">
                    <h2 class="major">{{proofreading.title}}</h2>
                    <p>{{proofreading.body}}</p>
                    <a href="/create_order/" class="special">Order Now</a>
                </div>
                {%endfor%}
            </div>
        </section>
        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                {%for dissertation in dissertations%}
                <div class="content">
                    <h2 class="major">{{dissertation.title}}</h2>
                    <p>{{dissertation.body}}</p>
                    <a href="/create_order/" class="special">Order Now</a>
                </div>
                {%endfor%}
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper alt  style2">
            
            <div class="inner">
                {%for content in contents%}
                <div class="content">
                    <h2 class="major">{{content.title}}</h2>
                    <p>{{content.body}}</p>
                    <a href="/create_order/" class="special">Order Now</a>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                {%for text in how_we_work_texts%}
                <div class="content">
                    <h2 class="major">How we work</h2>
                    <p>
                        {{text.body}} </p>
                    <a href="/create_order/" class="special">Order now</a>
                </div>
                {%endfor%}
            </div>
        </section>
        <!-- Four -->
        <section id="four" class="wrapper alt  style1">
            <div class="inner">
                <h2 class="major">Samples</h2>
                <p>Our previous work</p>
                <section class="features">
                    {%for sample in samples%}
                    <article>
                        <h3 class="major">{{sample.title}}</h3>
                        <p>{{sample.snippet}}...</p>
                        <a href="{{sample.file.url}}" class="special">View Paper</a>
                    </article>
                    {%endfor%}
                </section>
            </div>
        </section>    
    </section>
{%endblock%}
{%block footer%}

<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <form method="post" action="/">
            <div class="fields">
                {%csrf_token%}
                {%for field in form%}
                <div class="field">
                    <label for="{{field.id_for_label}}">{{field.id_for_label}}</label>
                    {{field}}
                </div>
                {%endfor%}
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
        <ul class="contact">
            {%for address in addresses%}
            <li class="icon solid fa-home">
                {{address.p_o_box}}<br />
                {{address.location}}<br />
            </li>
            {%endfor%}

            {%for phone in phone_numbers%}
            <li class="icon solid fa-phone">{{phone.phone}}</li>
            {%endfor%}
            
            {%for gmail in gmail_links %}
            <li class="icon solid fa-envelope"><a href="#">{{gmail.link}}</a></li>
            {%endfor%}

            {%for twitter in twitter_accounts%}
            <li class="icon brands fa-twitter"><a href="https://www.{{twitter.twitter}}">{{twitter.twitter}}</a></li>
            {%endfor%}

            {%for fb in fb_accounts%}
            <li class="icon brands fa-facebook-f"><a href="https://www.{{fb.facebook}}">{{fb.facebook}}</a></li>
            {%endfor%}

            {%for ig in instagram_accounts%}
            <li class="icon brands fa-instagram"><a href="https://www.{{ig.ig}}">{{ig.ig}}</a></li>
            {%endfor%}
            
            {%for number in whatsapp%}
            <li class="icon brands fa-whatsapp"><a href="https://api.whatsapp.com/send?phone={{number.number}}">{{number.number}}</a></li>
            {%endfor%}
        </ul>
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li> 
            <li><a href="/privacy_policy/">Privacy policy</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/create_order/">Order</a></li>
            <li><a href="/samples/">Samples</a></li>
            <li>Design: <a href="#">Web Space</a></li>
        </ul>
    </div>
</section>
{%endblock%}