{% extends 'base_layout.htm'%}
{% block title %}
    Study help - {% for title in dashboard_title %} {{title.title_description}} {% endfor %}
{% endblock %}
{% block extra_head %}
{% for meta in dashboard_meta %}
<meta name="description" content="{{meta.description}}"/>
<meta name="keywords" content="{{meta.keywords}}"/>
{% endfor %}
{% endblock %}
{% block content %}

{%for number in whatsapp%}
<a href="https://api.whatsapp.com/send?phone={{number.number}}" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
{% endfor %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        {%for brand in brands%}
        <h2>{{brand.text}} Order description</h2>
        {%endfor%}
        {%for header in headers%}
        <p>{{header.text}}<a href="/create_order/" class="special">Order Now</a></p>
        {%endfor%}
    </div>
</section>

<section id="wrapper">
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Order Instructions</h2>
            <p>{{order.instructions}}</p>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Academic Level</th>
                            <th>Subject</th>
                            <th>Type</th>
                            <th>Paper format</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.get_academic_level_display}}</td>
                            <td>{{order.get_subject_display}}</td>
                            <td>{{order.get_type_display}}</td>
                            <td>{{order.get_paper_format_display}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Number of Pages</th>
                            <th>Days</th>
                            <th>Line spacing</th>
                            <th>Reference code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.get_number_of_pages_display}}</td>
                            <td>{{order.get_days_display}}</td>
                            <td>{{order.get_line_spacing_display}}</td>
                            <td>{{order.reference_code}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Order date</th>
                            <th>Total cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.date_created}}</td>
                            {% if order.price %}
                            <td>$ {{order.price}}</td>
                            {% else %}
                            <td>Price will be updated once you agree with your writter</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="actions fit">
                {% if order.status == 'CP' and order.assignment_file %}
                <li><a href="/dashboard/" class="button fit">Back</a></li>
                {% if order.payment_complete %}
                <li><a href="{{order.assignment_file.url}}" class="button primary fit">Download Assignment</a></li>
                {% else %}

                <!-- This will redirect to the payment view -->
                <li><a href="/dashboard/" class="button primary fit">Download Assignment</a></li>
                {% endif %}
                {% else %}
                <li><a href="/dashboard/" class="button fit">Back</a></li>
                <li><a href="/order_files/{{order.reference_code}}/" class="button primary fit">Add Files</a></li>
                {% endif %}
            </ul>
        </div>
    </section>  
</section>
{% endblock %}

{% block footer %}
    <section id="footer">
        <div class="inner">
            <h2 class="major">Get in touch</h2>
            <p></p>
            <form method="post" action="/">
                <div class="fields">
                    {%csrf_token%}
                    {%for field in form%}
                    <div class="field">
                        <label for="{{field.id_for_label}}">{{field.id_for_label}}</label>
                        {{field}}
                    </div>
                    {%endfor%}
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>
            <ul class="contact">
                {%for address in addresses%}
                <li class="icon solid fa-home">
                    {{address.p_o_box}}<br />
                    {{address.location}}<br />
                </li>
                {%endfor%}

                {%for phone in phone_numbers%}
                <li class="icon solid fa-phone">{{phone.phone}}</li>
                {%endfor%}
                
                {%for gmail in gmail_links %}
                <li class="icon solid fa-envelope"><a href="#">{{gmail.link}}</a></li>
                {%endfor%}

                {%for twitter in twitter_accounts%}
                <li class="icon brands fa-twitter"><a href="https://www.{{twitter.twitter}}">{{twitter.twitter}}</a></li>
                {%endfor%}

                {%for fb in fb_accounts%}
                <li class="icon brands fa-facebook-f"><a href="https://www.{{fb.facebook}}">{{fb.facebook}}</a></li>
                {%endfor%}

                {%for ig in instagram_accounts%}
                <li class="icon brands fa-instagram"><a href="https://www.{{ig.ig}}">{{ig.ig}}</a></li>
                {%endfor%}   

                {%for number in whatsapp%}
                <li class="icon brands fa-whatsapp">+<a href="https://api.whatsapp.com/send?phone={{number.number}}">{{number.number}}</a></li>
                {%endfor%}
            </ul>
            <ul class="copyright">
                <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li>
                <li><a href="/how_we_work/">How we work</a></li> 
                <li><a href="/revision_policy/">Revision policy</a></li>
                <li><a href="/refund_policy/">Refund policy</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/create_order/">Order</a></li>
                <li><a href="/samples/">Samples</a></li>
                <li>Design: <a href="#">Web Space</a></li>
            </ul>
        </div>
    </section>
{% endblock %}