{%extends 'base_layout.htm'%}
{%load static%}
{% block title %}Reffund policy &mdash; Study Help{% endblock %}
{% block extra_head %}
{% for meta in about_meta %}
<meta name="description" content="{{meta.description}}"/>
<meta name="keywords" content="{{meta.keywords}}"/>
{% endfor %}
{% endblock %}
{%block content%}

{%endblock%}
{%block footer%}
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p></p>
        <form action="/refund_policy/" method="post">
            <div class="fields">
                {%csrf_token%}
                {%for field in form%}
                <div class="field">
                    <label for="{{field.id_for_label}}">{{field.id_for_label}}</label>
                    {{field}}
                </div>
                {%endfor%}
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
        <ul class="contact">
            <li class="icon solid fa-home">
                Study Help<br />
                Nairobi, KENYA<br />
            </li>
            <li class="icon solid fa-phone">+2547 77751299</li>
            <li class="icon solid fa-envelope"><a href="#">studyhelpbusiness@gmail.com</a></li>
            <li class="icon brands fa-twitter"><a href="#">twitter.com/studyhelp</a></li>
            <li class="icon brands fa-facebook-f"><a href="#">facebook.com/studyhelp</a></li>
            <li class="icon brands fa-instagram"><a href="#">instagram.com/studyhelp</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li> 
            <li><a href="/revision_policy/">Revision policy</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/create_order/">Order</a></li>
            <li><a href="/samples/">Samples</a></li>
            <li>Design: <a href="#">Web Space</a></li>
        </ul>
    </div>
</section>
{%endblock%}